{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header bg-primary text-white" style="background-color: var(--verde-madeira) !important;">
                <h4 class="mb-0">{% if orcamento %}Editar{% else %}Novo{% endif %} Orçamento</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {{ form.as_p }}

                    <hr>

                    <h5>Itens do Orçamento</h5>
                    {{ item_formset.management_form }}
                    {% for form in item_formset %}
                        <div class="row item-form">
                            <div class="col-md-4">{{ form.material }}</div>
                            <div class="col-md-2">{{ form.quantidade }}</div>
                            <div class="col-md-3">{{ form.preco_unitario }}</div>
                            <div class="col-md-2">{{ form.DELETE }}</div>
                        </div>
                    {% endfor %}

                    <hr>

                    <h5>Imagens do Orçamento</h5>
                    {{ imagem_formset.management_form }}
                    {% for form in imagem_formset %}
                        <div class="row item-form">
                            <div class="col-md-8">{{ form.imagem }}</div>
                            <div class="col-md-2">{{ form.DELETE }}</div>
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-success">Salvar Orçamento</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}